body {
  margin: 0;
<<<<<<< HEAD
  padding: 0;
  overflow: hidden;
  background-color: #f8f6f0;
}

#root {
  width: 100vw;
  height: 100vh;
=======
  overflow: hidden;
  background-color: #f8f6f0;
>>>>>>> f5055b8193c8d7887e59f6bd5801d22725b580e3
}